.movie-card {
  width: 250px;
  height: 350px;
  flex: 0 0 auto;
  text-align: center;
  margin-right: 6rem;
  margin-top: 10px;
  margin-bottom: 100px;
  background-color: #fff; /* optional: white background */
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease; /* smooth animation */
}

.movie-poster {
  flex: 0 0 auto;
  width: 250px;
  height: 350px;
  text-align: center;
  background-color: #fff; /* optional: white background */
}

.movie-title {
  margin-top: 30px;
  font-size: 1.2rem;
  color: 333;
  font-family: 'Roboto', sans-serif;
  font-weight: bold !important;
}
.movie-card:hover {
  border-color: #999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: scale(1.05); /* makes it pop out */
}
