.movie-row {
  margin: 2rem 1rem;
}

.row-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.movie-row-scroll {
  display: flex;
  overflow-x: auto;
  padding-bottom: 50px;
  scrollbar-width: thin;
  scroll-snap-type: x mandatory;
}
